* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-size: 14pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.page-container {
  margin: 2em;
  background-color: lightgray;
  width: 100%;
  padding: 2em;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  color: crimson;
  text-decoration: underline;
}

.footnote {
  font-size: 10pt;
}

@media only screen and (min-width : 768px) {
  .page-container {
    width: 750px;
  }
}