input[type="submit"], a.btn {
  -webkit-appearance: none;
  display: inline-block;
  background: darkred;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  border: none;
  border-radius: none;
  &:hover {
    background: crimson;
    color: white;
  }
}

input[type="password"], input[type="email"] {
  padding: 0.5em 1em;
  margin: 0.2em 0em 1em;
  outline: none;
  display: block;
  font-size: 1em;
  width: 100%;
  // max-width: 300px;
}

label {
  font-size: 1em;
}

.field {
  margin: 1rem 0;
}

a.btn-small {
  font-size: 0.7em;
}

a.btn-view {
  background: darkblue;
  &:hover {
    background: blue;
  }
}

a.btn-edit {
  background: darkgreen;
  &:hover {
    background: green;
  }
}